<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Siłownia!</title>
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/tailwind.css}" rel="stylesheet">
    <script th:src="@{/js/tailwind.js}"></script>
</head>
<body>
    <img th:src="@{/imgs/logo.png}" alt="" class="mx-auto min-w-1/6">

    <div class="w-full h-12 bg-red-500">
        <div class="max-w-6xl mx-auto h-12 flex flex-wrap flex-row justify-center content-center space-x-12 uppercase text-2xl font-thin text-white">
            <a href="/">Strona Główna</a>
            <a href="/about-us">O Nas</a>
            <a href="/buy-pass">Kup Karnet</a>
        </div>
    </div>

    <div class="bg-white mx-auto max-w-6xl shadow-sm p-4">
        <h2 class="text-2xl">Zarejestruj się</h2>
        Nie masz jeszcze konta? Możesz je tutaj zarejestrować!
        <hr />
        <form action="" th:object="${clientRegisterForm}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="w-full flex flex-col space-y-2 mt-4">
                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Email: </div>
                    <div class="w-3/4"><input type="text" th:field="*{email}" class="w-full rounded-md border bg-red-100 p-2 text-red-600 border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Hasło: </div>
                    <div class="w-3/4"><input type="password" th:field="*{password}" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Powtórz Hasło: </div>
                    <div class="w-3/4"><input type="password" th:field="*{passwordRepeat}" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Imie: </div>
                    <div class="w-3/4"><input type="text" th:field="*{name}" class="w-full rounded-md border bg-red-100 p-2 text-red-600 border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Nazwisko: </div>
                    <div class="w-3/4"><input type="text" th:field="*{surname}" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Telefon: </div>
                    <div class="w-3/4"><input type="text" th:field="*{phone}" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600" /></div>
                </div> 
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Adres: </div>
                    <div class="w-3/4"><input type="text" th:field="*{address}" class="w-full rounded-md border bg-red-100 p-2 text-red-600 border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Kod Pocztowy: </div>
                    <div class="w-3/4"><input type="text" th:field="*{postcode}" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600" /></div>
                </div>
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}"></div>

                <div class="w-full flex flex-row">
                    <div class="w-1/4 flex flex-wrap justify-center content-center">Miejscowość: </div>
                    <div class="w-3/4"><input type="text" th:field="*{city}" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600" /></div>
                </div>     
                <div class="w-full my-4 p-4 bg-red-100 border border-red-800 text-red-800 rounded-md" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>  

                <input type="submit" value="Zarejestruj się" class="w-full rounded-md bg-red-100 p-2 text-red-600 border border-red-600 hover:bg-red-500 hover:text-red-100 cursor-pointer"/>
            </div>
        </form>
    </div>
</body>
</html>